
<section class="page-section portfolio" id="portfolio">
        <div class="text-center mt-4">
                <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Football</h1>
                <!-- Icon Divider -->
            <div class="divider-custom divider-light" style="background-color: #009679">
                <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
            <div class="divider-custom-line"></div>
          </div>
          <img src="assets/images/football.png" alt="football" style="width:450px; height: 175px;"/><br><br>
          <table class="table table-hover">
                <thead>
                    
                  <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><!--INSERT FOR LOOP-->
                    <td>Dynamic</td>
                    <td>Data</td>
                    <td><a href="">Show</a>
                      <a href="" (click)="onClickDelete(sport._id)"><span class="text-danger" style="margin-left: 10px;">Delete</span></a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
</section>

