<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restful Tasks Crud</title>
</head>
<body>
  <div class="container p-3">
    <h1 class="text-center">CRUD Practice</h1>
    <div class="allTasks">
      <button (click)="getTasksFromService()">Get all Tasks</button>
      <p *ngFor="let task of tasks">{{task.title}} - {{task.description}}</p>
    </div>

    <div class="form-group">
    <form (submit)="onSubmit()" class="col-6">
      <p>{{ newTask | json}}</p>
      <p>Title: <input class="form-control" type="text" name="newTask.title" [(ngModel)]="newTask.title"/></p>
      <p>description: <input class="form-control" type="text" name="newTask.description" [(ngModel)]="newTask.description"/></p>
      <input class="btn btn-primary" type="submit" value="Create Task"/>
    </form>
  </div>
  </div>

  <div class="form-group">
    <h1 class="text-center">Task List</h1>
    <div class="row"></div>
    <div *ngFor="let task of tasks">
      <div class="col-6 mt-3">
        <div class="card" style="width: 18rem;">
      <hr>
      <p><strong>{{task.title}}</strong>
      {{task.description}}</p>
      <button class="btn btn-info btn-sm" (click)="getOneToUpdate(task._id)">EDIT</button>
      <button class="btn btn-danger btn-sm ml-3" (click)="onDelete(task._id)">DELETE</button>
      <!-- <button class="btn btn-danger btn-sm ml-3" (click)="showTask(task._id)">Show</button> -->
      
      <hr>
      </div>
      </div>
    </div>
  </div>

  <div class="editForm">
      <h1>Edit the Task</h1>
      <form (submit)="submitUpdate()" class="col-6">
        <p><input class="form-control" type="text" name="newTask.title" [(ngModel)]="task.title"></p>
        <p><input class="form-control" type="text" name="newTask.description" [(ngModel)]="task.description"></p>
        <input type="submit" value="Edit"/>
      </form>
    
   <!-- <app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task>  -->
  </div>

</body>
</html>