<header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
    
          <!-- Masthead Avatar Image -->
          <img class="masthead-avatar mb-5" alt="">
    
          <!-- Masthead Heading -->
          <h1 class="masthead-heading text-uppercase mb-0">Welcome to the<span style="color:black">CHATROOM</span> </h1>
    
          <!-- Icon Divider -->
          <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
              <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
          </div>
    
          <!-- Masthead Subheading -->
          <p class="masthead-subheading font-weight-light mb-0">Add - Join - Start Chatting!</p>
    
          <div class="text-center mt-4" data-toggle="collapse">
            <a class="btn btn-xl btn-outline-light" href="http://localhost:8000">
              <i class="fas fa-download mr-2"></i>
             Create your ChatRoom!
            </a>
            
          </div>
          
        </div>
      </header>