<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

    <h1>Keon's App</h1>
    <!--Display live time-->
    <div ng-app="myApp" ng-controller="myCtrl"> 
        <p>The time is:</p>
        <h1>{{theTime}}</h1>
        </div>
        <p>The $interval service runs a function every specified millisecond.</p>
        <!--Show and Hide button-->
        <div ng-app="myApp" ng-controller="myCtrl">
            <button ng-click="myFunc()">Click Me!</button>
            <div ng-show="showMe">
                <h1>Tasks:</h1>
                <div>New Event</div>
                <div>Key</div>
                <div>Pesce</div>
            </div>
            </div>
            <p>Click the button to show/hide the menu.</p>
    <!--Quote-->
        <div ng-app="App" ng-controller="show">
            <input ng-model="name">
            <h3>My favorite quote is {{name}}</h3>
          </div>
    <!--Enter name-->
          <div ng-app="">
              <form>
                First Name: <input type="text" ng-model="firstname">
              </form>
              <h1>You entered: {{firstname}}</h1>
            </div>
      <!--button switch-->  
          <div ng-app="" ng-init="mySwitch=true">
              <p>
              <button ng-disabled="mySwitch">Click Me!</button>
              </p>
              <p>
              <input type="checkbox" ng-model="mySwitch"/>Button
              </p>
              <p>
              {{ mySwitch }}
              </p>
              </div> 
        <!--mouse counter-->
              <div ng-app="countApp" ng-controller="Ctrl">
                  <h1 ng-mousemove="count = count + 1">Mouse Over Me!</h1>
                  <h2>{{ count }}</h2>
                  </div>
                
            <script> 
            //show and hide button
              var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
                $scope.showMe = false;
                $scope.myFunc = function() {
                    $scope.showMe = !$scope.showMe;
                }
            });
            //mouse count
            var app = angular.module('countApp', []);
                  app.controller('Ctrl', function($scope) {
                      $scope.count = 0;
                  });
            //fill in name
            var app = angular.module('App', []);
                    app.controller('show', function($scope) {
                    $scope.name = "John Doe";
                    });
             //current time countup seconds       
            var app = angular.module('myApp', []);
                  app.controller('myCtrl', function($scope, $interval) {
                    $scope.theTime = new Date().toLocaleTimeString();
                    $interval(function () {
                        $scope.theTime = new Date().toLocaleTimeString();
                    }, 1000);
                  });
          //only last one works, make sure each one is running
            </script>


    <!-- <h2>{{title}}</h2>
    <button (click)="getTasksFromService()" >Get All Tasks</button>
  </div>
  <div *ngFor="let task of tasks; let idx = index">
    <p>{{task.title }}<button (click)="info(idx)">SHOW</button></p>
  </div>
  <div class="info" *ngIf="green">
    <p>{{task.title}}</p>
    <p>{{task.description}}</p> -->

</body>
</html>