<div class="container">
        <h1>Commerce Manager</h1>
        <button class="btn btn-primary" [routerLink]="['/products/new']">Add New Product</button>
        <table class="table table-bordered mt-1 text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let product of products">
                <tr>
                    <td>{{product._id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>${{product.price}}</td>
                    <td><button
                            class="btn btn-warning btn-sm mr-2" [routerLink]="[product._id, 'edit']">Edit</button>
                             <button class="btn btn-danger btn-sm" (click)="deleteProduct(product._id)">Delete</button>
                            <a class="btn btn-success btn-sm" [routerLink]="[product._id]">Show</a>
                            </td>      
                </tr>
            </tbody>
        </table>
    </div>
    <router-outlet></router-outlet>