<div class="container">
  <h1>Rate My Cakes</h1>
  <div class="top">
    <div class="leftpanel">
      <h2>Submit a cake to be rated ...</h2>
      <hr>
      <form (submit)="cakeSubmit()">
        <h3>Baker Name:</h3>
        <h3><input type="text" name="newCake.baker" [(ngModel)]="newCake.baker"/></h3>
        <h3>Image URL: </h3>
        <h3><input type="text" name="newCake.image" [(ngModel)]="newCake.image"/></h3>
        <input type="submit" value="Submit"/>
      </form>
    </div>
    <div class="rightpanel">
      <div *ngFor="let cake of cakes; let idx = index">
        <div class="img">
          <a (click)="info(idx)"><img class="pic" [src]="cake.image"/></a>
        </div>
        <div class="formBox">
          <form (submit)="ratingSubmit(cake._id)">
            <select name="newRating.rating" [(ngModel)]="newRating.rating">
              <option value="1" selected>1 star</option>
              <option value="2">2 stars</option>
              <option value="3">3 stars</option>
              <option value="4">4 stars</option>
              <option value="5">5 stars</option>
            </select>
            <textarea name="newRating.comment" [(ngModel)]="newRating.comment"></textarea>
            <input type="submit" value="Rate!"/>
          </form>
        </div>
      </div>
    </div>
    <div class="bottom">
      <app-cake *ngIf="selectedCake" [cakesToShow]="selectedCake" [avgRating]="avg"></app-cake>
    </div>
  </div>


</div><!--end of container-->