<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">SportsUP</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/sports/chatroom">Chat Room</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Search</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

 <!-- Footer -->
 <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">426 17th Franklin 
            <br>Oakland, CA 94780</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">FOLLOW US</h4>
          <img class="btn btn-outline-light btn-social mx-lg-1" src="assets/images/fb.png"/>
            <i class="fab fa-fw fa-facebook-f"></i>
          <img class="btn btn-outline-light btn-social mx-1" src="assets/images/twitter.png">
            <i class="fab fa-fw fa-twitter"></i>
          <img class="btn btn-outline-light btn-social mx-1" src="assets/images/linkedin.png">
            <i class="fab fa-fw fa-linkedin-in"></i>
          <img class="btn btn-outline-light btn-social mx-1" src="assets/images/gmail.png">
            <i class="fab fa-fw fa-dribbble"></i>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About SPORTSUP</h4>
          <p class="lead mb-0">SPORTSUP is free to use, powered by
            <a href="http://startbootstrap.com">K-League</a>.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; SPORTSUP 2019</small>
    </div>
  </section>

